@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --color1: #218b82;
  --color2: #7ee5f3;
  --color3: #e72254;
  --color4: #21313f;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00cc66;
  padding: 1.5rem 7%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  z-index: 100;
}

.logo {
  width: 30%;
  height: 100%;
  margin-left: 0%;
  margin-right: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.logo img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  height: 100%;
}

.narbar {
  width: 50%;
  height: 100%;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #707070;
  padding: 20px;
  transition: 0.4s all;
  margin: 0%;
}

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  border-radius: 25px;
  visibility: visible;
  opacity: 1;
  transform: translatex(0px);
  z-index: 1111;
}

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  border-top: 10px #e72254 solid;
  opacity: 0;
  position: absolute;
  top: 100%;
  transform: translatex(50px);
  left: 0;
  width: 230px;
  background-color: #00ff66;
  box-shadow: 0px 10px 10px 3px hsl(0deg 0% 0% / 16%);
  z-index: 111;
  transition: 0.4s all;
}

.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 22px;
  padding-bottom: 20px;
  font-weight: 400;
  border: 0;
  position: relative;
  text-transform: capitalize;
  color: #222;
}

.navbar-links li.navbar-dropdown .dropdown a:not(:last-child):before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #0000006b;
  width: 80%;
  bottom: 0;
}

.navbar-links li > a {
  border-bottom: 5px solid transparent;
  color: black;
  text-transform: capitalize;
  font-size: 18px;
}

/* home section started */
.slideshow-container {
  width: 100%;
  height: 30%;
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
}

.inner-home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.slideshow-container-inner-home {
  flex: 2 2 50rem;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.home-icons-below {
  padding: 1rem 7%;
  margin-top: -50px;
}

.main-home-icons {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.home-icon-box {
  flex: 1 1 230px;
  padding: 1rem;
  height: 270px;
  text-align: center;

  /* background-image: url(images/pattern.png);
  background-repeat: no-repeat;
  background-size: cover; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border: 2px solid #00cc00;
  transition: 0.5s;
}

.home-icon-box:nth-child(3) h2 {
  margin-top: 20px;
}

.home-icon-box i {
  font-size: 45px;
}

.home-icon-box img {
  height: 60px;
  width: 60px;
}

.home-icon-box:hover {
  background: #029141;
  background: linear-gradient(135deg, #029141, #02813b);
  border-top-left-radius: 30px;
  border: 2px solid white;
}

.home-icon-box:nth-child(3) i
{
  color: #029141;
}

.home-icon-box:hover h2,
.home-icon-box:hover p,
.home-icon-box:hover:nth-child(3) i
 {
  color: white;
}

.home-icon-box h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.home-icon-box p {
  font-size: 1.5rem;
  text-align: justify;
  padding: 1.5rem 0;
}

/* About section */
hr {
  margin-left: 10%;
}

.main-about {
  padding: 2.5rem 7%;
  position: relative;
  background-image: url(images/images/pattern.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-heading {
  text-align: center;
  background-color: #7ae582;
}

.about-heading h1 {
  color: var(--color3);
  font-size: 45px;
}

.about-heading h1 span {
  color: var(--color4);
}

.about-main-div {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.main-inner-about {
  flex: 1 1 45rem;
}

.about-img img {
  width: 100%;
  padding: 4rem;
}

.about-right-content h2 {
  color: var(--color4);
  font-size: 3rem;
}

.about-right-content h1 {
  color: var(--color3);
  font-size: 6rem;
  padding: 1rem 0;
}

.about-right-content p {
  font-size: 1.5rem;
  color: var(--color4);
  padding: 1rem 0;
  line-height: 2;
}

.overflowimg img {
  position: absolute;
  width: 100px;
  left: -4%;
  animation: myimg 5s infinite;
  top: 10%;
}

@keyframes myimg {
  0% {
    top: 10%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 0%;
  }
}

/* our team section started */
.team1 {
  margin: 0;
  padding: 0;
  background-image: url();
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin-bottom: 3%;
}

.team-title {
  margin-top: 20px;
  color: var(--color3);
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.gallery div img {
  width: 100%;
  transition: 0.5s;
}

.gallery {
  margin-top: 20px;
  width: 70%;
  display: flex;
  cursor: pointer;
  overflow: scroll;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

#angle-gauche,
#angle-droite {
  width: 80px;
  margin: 10px;
  margin-top: 5%;
  font-size: 50px;
  cursor: pointer;
}

.button_slide {
  color: black;
  border: 2px solid #00cc00;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #00cc00;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-left: 40%;
  margin-top: 10px;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #00cc00;
}

.team {
  margin: 0;
  padding: 0;
  background-image: url(images/pattern.png);
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.team2 {
  padding: 2rem 7%;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 3%;
}

.container-Team2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.thumbex {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  outline: 2px solid white;
  outline-offset: -15px;
  background-color: white;
  box-shadow: 5px 10px 40px 5px #00000080;
}

.thumbnail {
  overflow: hidden;
  height: 550px;
  width: 100%;
  position: relative;
  opacity: 0.8;
  backface-visibility: hidden;
  transition: all 0.4s ease-out;
}

.container-Team2 img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  height: 95%;
  width: 95%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.container-Team2 span {
  position: absolute;
  z-index: 2;
  top: calc(150px - 20px);
  left: 0;
  right: 0;
  background: #000000b3;
  color: white;
  font-size: 24px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  margin-top: 80%;
  text-align: center;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-out;
}

.thumbnail:hover {
  backface-visibility: hidden;
  transform: scale(1.15, 1.15);
  opacity: 1;
}

.thumbnail:hover span {
  opacity: 0;
}

/* Our Team3s */
.team3 {
  font-family: Poppins;
  width: 100%;
  height: 55%;
  padding: 32px;
  display: grid;
  background-image: url(images/pattern.png);
  box-sizing: border-box;
  margin-top: 0%;
}

.gallery-team3 {
  display: flex;
  background-color: var(--background);
  width: 90%;
  height: 90%;
  margin-left: 15%;
}

.card {
  position: relative;
  width: 30%;
  height: 100%;
  margin: 3%;
  background-color: var(--background);
  border-radius: 8px;
  transition: 1000ms all;
  transform-origin: center left;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background);
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.card:hover figcaption {
  font-size: 1.8rem;
  position: absolute;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: end;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  left: 0px;
  bottom: 0px;
  padding-left: 12px;
  padding-bottom: 10px;
}

.card:hover ~ .card {
  font-weight: bold;
  cursor: pointer;
  transform: translateX(22px);
}

/*leader*/
.leaders {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.person {
  text-align: center;
  height: 30%;
  width: 30%;
  margin: auto;
}

.person img {
  width: 100%;
  height: 100%;
}

.social-media {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}

.TL {
  margin-left: 0;
}

.contactInf {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.contactInf p {
  text-transform: lowercase;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5%;
}

.social-media li {
  list-style: none;
}

.social-media li a i {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f8fd;
  border-radius: 40px;
  color: #555555;
  margin-right: 10px;
}

.social-media li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555555;
}

.social-media li a i:hover {
  background-color: #00cc66;
}

.person-text .social-media {
  margin-top: 25px;
  margin-bottom: 25px;
}

.person-text h3 {
  font-size: 35px;
}

.person-text span {
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  display: block;
}

.person-text {
  margin: 10%;
}

.person-text {
  width: 100%;
  height: 403px;
  margin: auto;
  border-color: white;
  border: 7px solid #f5f8fd;
  background-color: white;
  margin-top: 0;
  z-index: 1111;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

ul.higher-reach li {
  font-size: 18px;
  font-family: "Epilogue";
  font-weight: 400;
  color: #555;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

ul.higher-reach {
  margin-top: 30px;
}

.bol {
  display: block;
  width: 15px;
  height: 15px;
  border: 5px solid #00cc00;
  border-radius: 50%;
  margin-right: 12px;
}

/*new*/
.news {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #9ad9db;
}

.news .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.news .container .latest-news,
.news .container .more-news {
  width: 100%;
  flex: 1 0 350px;
}

.news .container .more-news {
  display: grid;
  gap: 1rem;
}

.news .container .more-news .box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: #98d4bb;
}

.news .container .more-news .box img {
  width: 135px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.news .container .more-news .box .text h3 {
  font-size: 2rem;
  font-weight: 600;
}

.news .container .more-news .box .text li {
  margin-top: 0.3rem;
  list-style: none;
  color: #666;
  font-size: 1.5rem;
}

/* our gallery */

.main-gallery-section {
  padding: 3rem 7%;
  background-image: url(images/bgtheme.jpg);
  margin-top: 5%;
}

.gallery-heading {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 5%;
}

.gallery-heading h1 {
  font-size: 45px;
  color: var(--color3);
}

.gallery-heading h1 span {
  color: var(--color4);
}

.main-inner-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.inner-gallery {
  flex: 1 1 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-gallery:hover img {
  transform: rotate(3deg);
  cursor: pointer;
}

.inner-gallery img {
  width: 100%;
}

/* Footer */

.main-footer {
  padding: 4rem 7%;
  background: var(--color4);
  margin-top: 10px;
}

.footer-inner-content img {
  margin-left: 120%;
  margin-top: 10px;
  margin-bottom: 10x;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 3rem;
  }

  #bar {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
  }

  .navbar.active {
    left: 0;
  }

  .navbar a {
    display: block;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid var(--color4);
    font-size: 1.7rem;
  }

  .main-home {
    height: auto;
    padding-top: 30%;
  }

  .home-icons-below {
    margin-top: 0;
    padding: 4rem 2rem;
  }

  /* Team3 section */

  .team3-box {
    padding: 2rem;
  }
}

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
